<main>
  <header>
    <img src="http://www.clker.com/cliparts/c/5/9/1/13663724661045000346Conversion_Of_Currency.svg.hi.png">
    <div ngClass="exchange-rate" *ngFor="let curr of data | async">
        {{curr.ccy  + ': ' + (curr.buy | number:'1.2-2') + ' UAH'}}
    </div>
  </header>
  
  <section class="wrapper">
    <h2 class="section-heading">Convert your currency</h2>
    <form [formGroup]="firstForm" (input)="firstInputHandler()" >
      <input id="first-number" type="number"  formControlName="firstNumber" min="0" [(ngModel)]="firstValue">
      <select id="firstSelector" name="firstSelector" formControlName="firstSelector"  (change)="firstInputHandler()"  required>
        <option value="USD">USD</option>
        <option value="UAH">UAH</option>
        <option value="EUR">EUR</option>
      </select> 
    </form>

    <form [formGroup]="secondForm" (input)="secondInputHandler()"  >
      <input id="second-number" type="number"  formControlName="secondNumber" min="0" [(ngModel)]="secondValue">
      <select id="secondSelector" name="secondSelector" formControlName="secondSelector" (change)="secondInputHandler()" required>
        <option value="UAH">UAH</option>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
      </select>   
    </form>
  </section>
</main>